* {
    border-color: var(--border-color-main);
    color: var(--color-accent);
    font-size: 16px;
}

:root {
    --border-color-main: #508559;
    --color-accent: #508559;
    --color-secondary: #FF6868;
}

button {
    position: relative;
    font-family: trap;
    font-weight: bold;
    font-size: 1.8rem;
    color: var(--color-secondary);
    padding:1rem 2.5rem; border: var(--color-secondary) solid 3px; 
    border-radius: 60px; 
    width: fit-content;
    fill-opacity: 0;
    transition: 1s ease-in-out;
    background-color: #ffe06f11;
    cursor:pointer;
}

button :hover {
       background-color: #FFDF6F;  
}

body {
    font-family: 'poppins', sans-serif;
    @font-face {
        font-family: 'trap', sans-serif;
        src: url(fonts/trap-bold.otf) format('opentype');
    };
   
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    background: linear-gradient(180deg, #FFF9BF 18.04%, #F5F5F5 78.24%);

    /* background-color: rgb(255, 255, 255); */
}
.body-overlay {
    /* background-color: var(--background-color-primary); */
    background-image: url(pics/noise-texture.png);
    mix-blend-mode: exclusion;
    background-repeat: repeat;
    background-size: 15% 15%;
    opacity: .05;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}
/*------background colors to change body color based on the pages*/
.blue-background {
    background-color: #5312DD;
}

.red-background {
    background-color: #F61063;
}

.green-background {
    background-color: #00702D;
}

.black-background {
    background-color: #222020;
}

.yellow-background {
    background-color: #FFDF6F;
}




.bg-main {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

/* all the fonts setting go here*/
h1 {
    font-family: trap;
    font-size: 6rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 2.1rem;
    line-height: 2rem;
}

h4 {
    font-weight: 600;
}

p {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;

}

/*--------------animation to make something desappear----------------*/
.dissapear {
    transition: all;
    transition-delay: 1s;
    position: relative;
    animation: 1.5s 0s slide linear;
    animation-fill-mode: forwards;
}

.reappear {
    transition: all;
    transition-delay: 1s;
    position: relative;
    animation: 1.5s 0s slide linear;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

@keyframes slide {
    0% {
        left: 0;
    }

    60% {
        opacity: 0%;
    }

    100% {
        left: 110%;
        opacity: 0;
    }
}


/*--------------animation to make something dissappear----------------*/

/*--------------border style goes here----------------*/
.border {
    border: 1px solid;
    border-color: inherit;
}

.border-yellow {
    border: 1px solid;
    border-color: #FFDF6F;
}

.border-orange {
    border: 1px solid;
    border-color: #F69A10;
}

.border-grey {
    border: 1px solid;
    border-color: #d8d2c9;
}

.inner-border {
    border: solid;
    border-width: 0px 0px 0px 3px;
    border-color: inherit;



}

.main-border-lemon {
    border-width: .4rem;
    border-color: #8ACF71;
}

.main-border-red {
    border-width: .4rem;
    border-color: #fe70a479;
}

.main-border-purple {
    border-width: .4rem;
    border-color: #9D7CF9;
}


.hover-box :hover {
    background-color: antiquewhite;
    transform: translateX(20px);
    transition: 2s;
    animation-timing-function: ease-in;
}

/*---------------border style end here----------------*/





/*--------------Table styles----------------*/
.table-cell {
    font-weight: 600;
    font-size: 0.8rem;
    height: 38px;
    border: 1px solid;
    display: flex;
    align-items: center;
    padding: 0 0 0 20px;
}

/*--------------Table styles----------------*/



/*--------------Slider content copy color----------------*/
.black-text {
    color: #554E4E;
    border-color: #554E4E;
}

.white-text {
    color: #ffff;
    border-color: #fff;
}

/*--------------Slider content copy color----------------*/


.page-wrapper {

    display: flex;
    flex-direction: column;
    max-width: 1450px;
    height: 90%;
    width: 90%;
    min-height: 620px;
    border-style: solid;
    align-items: center;
    justify-content: center;
    border-width: 5px;

}

header {

    border-style: solid;
    border-width: 2px;
    width: 100%;
    display: flex;
    overflow: hidden;
    z-index: 0;
    max-height: 50px;
    height: 9%;
    font-weight: 500;

}

.logo-and-guest {


    display: flex;
    align-items: center;
    gap: 15px;
    width: auto;
    max-width: fit-content;
    padding: 14px 32px;
    padding-left: 4rem;
    
}


.header-mid {
    display: flex;
    flex-grow: 1;
    padding: 5px 30px;
    align-items: center;
    overflow: hidden;
    justify-content: start;
    gap: 30px;

}

nav {
    border: 0px;
    padding: 5px 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
}


/*------nav font colors based on page------*/
.white-fonts {
    color: rgb(204, 204, 204);
}

.black-fonts {
    color: #554E4E;
}

.orange-fonts {
    color: #F69A10;
    
}

.lemon-fonts {
    color: rgb(176, 211, 141);
}

ul {

    list-style-type: none;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 0%;
}

li {
    color: inherit;
}


.join-us {
    display: flex;
    width: fit-content;
    padding: 5px 20px;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.infinite-slider {
    height: auto;
    size: 3rem;
    color:var(--border-color-main);
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    padding: 1.8rem 0px;
    border: solid;
    position: relative;  
}

.infinite-slider img {
    height: 50px;
    position: relative;
}

.primary {
    position: relative;
    animation: primary 100s linear infinite;
  }
  
  .secondary {
    position: relative;
    animation: secondary 3s linear infinite;
  }
  .redirect {
    animation-direction: reverse;
  }
  @keyframes primary {
    from {
      left: 0%;
    }
    to {
      left: -100%;
    }
  }
  
  @keyframes secondary {
    from {
      left: 100%;
    }
    to {
      left: 0%;
    }
  }

.preview {
    padding: 2rem 0px;
    overflow: hidden;
    display: flex;
    height: 90%;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.preview-portfolio {
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 99.9%;
    width: 100%;
    position: relative;
}

.slider-indicator {
    display: flex;
    position: absolute;
    bottom: 7%;
    left: 6.5%;
    z-index: 2;

}

.white-box {
    fill: aquamarine;
    mix-blend-mode: difference;
}



.hero-copy {
    max-width: 600px;
    max-height: 500px;
    width: 60%;
    /* margin-bottom: 5%; */
    margin-left: 7%;
    align-self: center;

}

.hero-copy img {
    max-height: 80px;
    height: 8vh;
    min-height: 30px;
}

.image-box{
    position: relative;
    margin-right: 5%;
}

.var{
    position: absolute;
    right: 36%;
    top: 35%;
    z-index: 2;
    transition: 2s;
    animation: rotate 5s linear 0s infinite;
    }


@keyframes rotate {
    from  {
        transform: rotate(0deg);
    }
    to  {
        transform: rotate(360deg);
    }
} 


.hero-image {
    height: 40vh;
   
    max-height: 350px;
}



.footer {
    height: auto;
    min-height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-weight: 600;
}


.announcement {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    min-width: 350px;
    padding: 5px 25px;
}


/*---------all portfolio related styles----------*/

.portfolio-line {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    height: 50%;
}

.p-thumbnail-frame {
    width: 40%;
    height: 100%;
    overflow: hidden;
    border: 1px solid #FFDF6F;
    min-width: 350px;
}

.project {
    height: 100%;
    width: 100%;
}

.low-bg {
    opacity: 50%;
}

.announcement:hover>#hide {
    background-color: #F61063;
}




/*---------all portfolio related styles----------*/