* {
border-color: var(--border-color-darkbrown);
/* border: var(--border-color-white); */


}


/* Bromuno colors. I'm still learning how to use variables by the way */
:root {
    --border-color-white: hsl(0, 0%, 100%);
    --border-color-darkbrown: hsl(28, 72%, 53%);
    --border-color-lightgreen: hsl(102, 50%, 69%);
    --background-color-primary: #FAE69E;
    --background-color-lightyellow: #FAE69E;
    --background-color-secondary: hsl(28, 72%, 53%);
  
}

/* different border stylings */

.border-right {
    border-width: 0px 0px 0px 0px;
    
}
.border-left {
    border-left: 2px;
}

.border-bot {
    border-bottom: solid 2px;
}
    

body {
    font-family: 'poppins', sans-serif;
    @font-face {
        font-family: 'strretch', sans-serif;
        src: url(fonts/strretch-sans.ttf) format('truetype');
    }

    height: 100vh;
    width: 100vw;
    color: rgb(255, 255, 255);
    background-color: var(--background-color-lightyellow);
    background-image: url(pics/noise-texture.png);
    background-repeat: repeat;
    background-size: 19% 19%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 0;
    flex-direction: column;
}

a {
    text-decoration: none;
    display: flex;
    color: inherit;
}

.body-overlay {
    background-color: var(--background-color-primary);
    opacity: .90;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}

h4 {
    font-family: 'Strretch sans', sans-serif;
    color: #fff;
    font-size: 1rem;
    line-height:1rem;
    font-weight: 400;
    text-align: justify;
    letter-spacing: 0.18em;
    
}
h5 {
 letter-spacing: 1.4px;
}
.main-frame {
    margin: auto;
    width: 70vw;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    border: solid;
    height: auto;
    max-height: 600px;
    position: relative;
    z-index: 1;
    border-color: inherit;
}

li {
    margin: 0px;
}
ul {
    padding: 0px;
    margin: 0px;
}
/* use this to expand the mainframe with to test out the js function */
.expand-frame {
    width: 70%;
    max-width: none;
    min-height: 70%;
   
}

.mid {
    display: flex;
    flex-direction: row;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    height: auto;
    flex-shrink: 2;
    max-height: 400px;
    min-height: 450px;
    flex-grow: 2;
    overflow: hidden;
    color: hsl(28, 72%, 53%);
}
.detail {
    position: absolute;
    top: 0;
}
.option{
    visibility: hidden;
   
}

/* this is the supposed popup to show roadmap */
.roadmap {
    border-width: 0px 2px;
    border-style: solid;
    border-color: inherit;
    display: flex;
    max-height: 100%;
    flex-direction: column;
    flex-grow: 2;
    background-color: #E7D38C;
    overflow-x: auto;
    width: 50%;
   
  
    
}
/* .roadmap .quater{
    min-width: 100%;
    height: 100%;
    line-height: 110px;
} */

.quaters-frame {
    /* position: absolute; */
    display: flex;
    height: auto;
    width: 100%;
    min-height: 450px;
    overflow-x: auto;
    z-index: 0;
}

.quater {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 30%;
    min-width: 250px;
    border: solid;
    border-width: 0px 1.5px 0px 0px;
    margin: 0%;
    padding: 0px;
    border-style: solid;
    border-color: var(--border-color-darkbrown);
    overflow: hidden;
   }

.quater-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #DFCF97;
    border-style: solid;
    border-width: 0px 0px 1.5px 0px;
}

.quater-objective {
    display: flex;
    flex-direction: row;
    height: 40px;
    border-style: solid;
    border-bottom-width: 1.5px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    color: #554E4E;
    gap: 15px;
    padding: 0px 10px;
    }

.content {
    border-width: 0px 2px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    background-color: #394a769d;
}

p {
    line-height: 1.8rem;
}

.text-area {
    height: fit-content;
    padding: 0px 5%;
    overflow: auto;
    padding-top: 3%;
    /*animation: 
typing 3.5s steps(40, end),
blink-caret .75s step-end infinite;*/
}

.sides {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 2%;
    align-items: center;
    align-self: center;
    justify-self: center;
}

.more {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-width: 0 0 2px 0;
    border-style: solid;
    height: 50px;
   
}

.hide-more{
    display: none;
}

.socials {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    border-left: #fff;
    border-width: 0 2px 0 0;
    border-style: solid;
    padding: 0 3%;
    height: 100%;
}

.top-bot {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}



.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
   height: auto;
   min-height: 50px;
   flex-grow: 1;
   
 
   gap: 10px;
  
}
/* the header and footer-ish looking things */
.logo-string {
    width: 200%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    height: 50px;
    
}

.logo-string  h4, [fill],[stroke] {
    fill: var( --border-color-darkbrown);
    /* stroke: var( --border-color-darkbrown); */
    color: var( --border-color-darkbrown);
}

.logo {
    flex-shrink: 0;
}

@media (max-width: 600px) {
    .main-frame {
        width: 90vw;
        max-height: none;
        position: reletive;
        top: -5%;

    }
    .socials {

        justify-content: space-evenly;
        gap: 10px;
        width: 50%;
        overflow: auto;
        font-size: 12px;
    }
    body {
        justify-content: flex-start;
      
    }
}




/* The typing effect 
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  /* The typewriter cursor effect 
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }